.details {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;         
}
.bookings {
    display: flex; 
    flex-basis: 90%;   
    justify-content: center;    
}

.components {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.detail--column {
    flex-basis: 25%;
    justify-content: space-evenly;
    margin: 2rem;
    padding: 1rem;
    border: 2px dashed #EB5E55;
}

